$primaryColor: #fec637;
$secondryColor: #551400;
$fontColor: #464646;
$borderColor: #916800;
$tabborder: #6a6a6a;
$whiteColor: #ffffff;
$titleBg: #ebebeb;
$thBorder: #a1a1a1;
$shadowClr: rgba(85, 20, 0, 0.75);
$screen-mobile: 320px;
//$screen-tab:576px;
$screen-tab: 479px;
$screen-lap: 767px;
$screen-medium: 991px;
$screen-large: 1199px;
$screen-xlarge: 1366px;
$screen-xMedium: 1600px;
$screen-exLarge: 1920px;
